
html,
body{
    background-color: lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




#header{
    background-color: lightblue;

  }
  
  @media only screen and (max-width: 600px) {
    header {
      background-color: blue;
    }
  }
  #header-img {
      display: block;
      background-image: linear-gradient(123,123,234);
  }

  #nav-bar{
      display:block;
      float: left;
      background-color: lightgreen;
      

      
  }
  #email,
  #submit {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: burlywood;
  }
