
html,
body{
    /* background-color: rgb(240, 215, 236); */
    background-image: url(./images/background-pink.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#top{
  background-image: url(./images/background\ .jpeg);
  border:12px solid salmon;
  border-radius: 25px;
  max-width: 90%;
  display: block;
  margin:40px;
  margin-left: auto;
  margin-right: auto;

}

#header{
    display: block;
    margin:40px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    font-display: center;
    width: 65%;
    padding:4px;
    text-align: center;
    border:12px solid salmon;
    border-radius: 25px;
    /* margin-top:25px; */
    line-height:100px;
    font-size:60px;

    

  }
  
  @media only screen and (max-width: 600px) {
    header {
      background-color: blue;
    }
  }
  #header-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:auto;
      border:2px solid salmon;
      border-radius: 25px;
     

      
  }

  #nav-bar{
      display: flex;
      /* background-color: lightgreen; */
      float: right;
      padding:4px;
      margin-block-end:  4px;
      background-color: lightblue;
      border:2px solid salmon;
      border-radius: 25px;
      margin: 4px;
      padding: 5px 10px;
      

      
  }
  #email,
  #submit {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: lightblue;
      border:2px solid salmon;
      border-radius: 25px;
  }
  #bio-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    border:2px solid salmon;
    border-radius: 25px;
    float: left;
    margin-right: 12px;
    margin-top: 4px;
  }
  
#bio{
  
  max-width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  border:12px solid salmon;
  border-radius: 25px;
  padding: 20px;
  min-height: 160px;
  font-size: 28px;
 
}

#tee-quilt{
  max-width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  border:12px solid salmon;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  min-height: 160px;
  font-size: 28px;
}

#video{
  max-width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:12px solid salmon;
  border-radius: 25px;
  margin-top: 20px;

}

